  @if(driver){
    <section @fadeSlide [style.background]="'linear-gradient(to right, ' + driver.base.assets.teamColor + ', transparent)'">

      <div class="driver-team">
        <img [src]="driver.base.assets.teamLogo">
      </div>
      <div class="img-container">
        <img [src]="driver.base.assets.image">
        <div class="name-container">
          <h3>{{driver.base.driverName}}</h3>
        </div>
      </div>
      <div class="driver-input">


        @switch (driverInput) {
          @case ('career') {
            <div class="base-container">
              <div class="input">
                <h3>Driver Stats</h3>
                <div class="details">
                  <p>GP entered</p>
                  <span>{{driver.career.gp.races}}</span>
                </div>
                <div class="details">
                  <p>Wins</p>
                  <span>{{driver.career.gp.wins}}</span>
                </div>
                <div class="details">
                  <p>Poles</p>
                  <span>{{driver.career.gp.poles}}</span>
                </div>
                <div class="details">
                  <p>Top 10s</p>
                  <span>{{driver.career.gp.top10s}}</span>
                </div>
                <div class="details">
                  <p>Podiums</p>
                  <span>{{driver.career.gp.podiums}}</span>
                </div>
                <div class="details">
                  <p>laps</p>
                  <span>{{driver.career.gp.laps}}</span>
                </div>
                <div class="details">
                  <p>Dnf</p>
                  <span>{{driver.career.gp.dnf}}</span>
                </div>
              </div>
            </div>
          }
                    @case ('season') {
            <div class="base-container">
              <div class="input">
                <h3>Season Stats</h3>
                <div class="details">
                  <p>GP entered</p>
                  <span>{{driver.career.gp.races}}</span>
                </div>
                <div class="details">
                  <p>Wins</p>
                  <span>{{driver.season.wins}}</span>
                </div>
                <div class="details">
                  <p>Poles</p>
                  <span>{{driver.career.gp.poles}}</span>
                </div>
                <div class="details">
                  <p>Top 10s</p>
                  <span>{{driver.career.gp.top10s}}</span>
                </div>
                <div class="details">
                  <p>Podiums</p>
                  <span>{{driver.career.gp.podiums}}</span>
                </div>
                <div class="details">
                  <p>laps</p>
                  <span>{{driver.career.gp.laps}}</span>
                </div>
                <div class="details">
                  <p>Dnf</p>
                  <span>{{driver.career.gp.dnf}}</span>
                </div>
              </div>
            </div>
          }
                              @case ('driver') {
            <div class="base-container">
              <div class="input">
                <h3>Career Stats</h3>
                <div class="details">
                  <p>Wins</p>
                  <span>{{driver.season.wins}}</span>
                </div>
                <div class="details">
                  <p>Wins</p>
                  <span>{{driver.career.gp.wins}}</span>
                </div>
                <div class="details">
                  <p>Poles</p>
                  <span>{{driver.career.gp.poles}}</span>
                </div>
                <div class="details">
                  <p>Top 10s</p>
                  <span>{{driver.career.gp.top10s}}</span>
                </div>
                <div class="details">
                  <p>Podiums</p>
                  <span>{{driver.career.gp.podiums}}</span>
                </div>
                <div class="details">
                  <p>laps</p>
                  <span>{{driver.career.gp.laps}}</span>
                </div>
                <div class="details">
                  <p>Dnf</p>
                  <span>{{driver.career.gp.dnf}}</span>
                </div>
              </div>
            </div>
          }
        }
      </div>
    <div class="button-container">
      <button (click)="driverInput = 'career'">Career</button>
      <button (click)="driverInput = 'season'">Season</button>
      <button (click)="driverInput = 'driver'">Driver</button>
      <button (click)="standingsDataService.closeDriverFullCard()"><</button>
    </div>
    </section>
  }

 @if (team) {
      <section @fadeSlide [style.background]="'linear-gradient(to right, ' + team.teamColor + ', transparent)'">

<h1>TESTTESTSETSTES</h1>
</section>
}
  