section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  overflow-y: auto;

  .driver-team {
    height: 10%;
    width: 100%;
    background:
      linear-gradient(to bottom, #000000 0%, #000000 10%, transparent 100%);
    display: flex;
    justify-content: center;

    img {
      margin-top: 15px;
      width: 80%;
      object-fit: contain;
    }
  }

  .img-container {
    position: relative;
    width: 100%;
    height: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      /* Fade-Out ins Transparente */
      -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
    }

    .name-container {
      position: absolute;
      left: 50%;
      bottom: 0rem;
      top: 79%;
      transform: translateX(-50%);
      z-index: 1;
      pointer-events: none;

      h3 {
        text-align: center;
        font-family: 'Great Vibes';
        font-size: 2.8rem;
      }
    }
  }

    .img-car-container-fullcard {
    animation: carFadeInUp 1s ease-out forwards;
    position: relative;
    width: 100%;
    height: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      /* Fade-Out ins Transparente */
      -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
    }

    .name-container {
      position: absolute;
      left: 50%;
      bottom: 0rem;
      top: 79%;
      transform: translateX(-50%);
      z-index: 1;
      pointer-events: none;

      h3 {
        text-align: center;
        font-family: 'Great Vibes';
        font-size: 2.8rem;
      }
    }
  }


  .driver-input {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    height: 80%;

    h1 {
      font-size: 2.6em;
      font-family: 'Orbitron';
      font-weight: bold;
      color: rgb(241, 241, 241);
      text-shadow:
        0px 0 0px rgba(0, 0, 0, 0.203),
        2px 0 2px rgba(0, 0, 0, 0.5),
        3px 0 8px rgba(0, 0, 0, 0.3),
        4px 0 10px rgba(255, 255, 255, 0.15);

    }
  }

  .button-container {
    position: sticky;
    bottom: 0;
    display: flex;
    z-index: 1;
    width: 100%;

    button {
      height: 10vh;
      width: 100%;
      cursor: pointer;
      color: rgb(0, 0, 0);
      border: none;
      background-position: center;
      background-size: cover;
      font-size: 2em;
      font-weight: bold;
      transition: ease-in-out 0.2s;
    }
  }

  .base-container {
    animation: fadeIn 0.3s ease-in-out forwards;
    overflow-y: auto;
    font-size: 1.6em;
    height: 90vh;
    width: 100%;

    h3 {
      position: relative;
      font-family: 'Titillium Web';
      font-size: 2rem;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background: currentColor;
        border-radius: 2px;
      }
    }
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}

.container-fade-out {
  animation: fadeOutRight 0.4s ease-out forwards;
}

h1{
  color: white;
}