section {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;

  .driver-team {
    padding-top: 30px;
    background:
      linear-gradient(to bottom, #000000 0%, #000000 10%, transparent 100%);
    display: flex;
    justify-content: center;

    img {
      margin-top: 10px;
      width: 80%;
      height: 8vh;
      object-fit: contain;
    }
  }

  .driver-container {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    _justify-content: center;
    flex-direction: column;

.img-container {
  width: 100%;
  height: 87vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    /* Fade-Out ins Transparente */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}

  }

  .driver-input {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2em;

    h1 {
      font-size: 2.6em;
      font-family: 'Orbitron';
      font-weight: bold;
      color: rgb(241, 241, 241);
      text-shadow:
        0px 0 0px rgba(0, 0, 0, 0.203),
        2px 0 2px rgba(0, 0, 0, 0.5),
        3px 0 8px rgba(0, 0, 0, 0.3),
        4px 0 10px rgba(255, 255, 255, 0.15);

    }
  }

  .button-container {
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 1;
    width: 100%;

    button {
      width: 100%;
      cursor: pointer;
      color: rgb(0, 0, 0);
      border: none;
      background-position: center;
      background-size: cover;
      height: 5vh;
      font-size: 2em;
      font-weight: bold;
      transition: ease-in-out 0.2s;
    }
  }

  .base-container {
    overflow-y: auto;
    font-size: 1.6em;
    height: 100vh;
    width: 100%;

    h3 {
      font-weight: normal;
      font-size: 1.6em;
    }
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}