section {
  background-color: black;
  flex-direction: column;
  display: flex;
  font-family: 'Inter';
  font-size: 10px;
  margin-bottom: 10vh;

  .select-menu {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    button {
      cursor: pointer;
      color: rgb(201, 201, 201);
      border: none;
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 10vh;
      font-size: 2em;
      font-weight: bold;
      transition: ease-in-out 0.2s;
    }
  }

  .standing-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .driver-cards {
      cursor: pointer;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0rem;
      border-radius: 10px;
      height: 24vh;

      .driver-number-container {
        width: 20%;
        position: absolute;
        right: 12%;

        h1 {

          font-family: 'Orbitron';
          color: rgba(80, 80, 80, 0.7);
          font-size: 7em;
          -webkit-text-stroke: 0.1px rgb(145, 145, 145);
          /* Umrandung */

        }
      }

      .team-driver-name {
        z-index: 1;
        padding-left: 10px;
        margin-top: 10px;
        align-items: center;
        display: flex;
        color: white;
        font-size: clamp(1rem, 3vw, 8em);
      }
    }
  }

  .constructor-cards {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    border-radius: 10px;
    height: 24vh;

    .team-constructor-name {
      align-items: center;
      padding-left: 10px;
      margin-top: 10px;
      display: flex;
      color: white;
      font-size: clamp(1rem, 3vw, 8em);

      .team-logo {
        display: flex;
        align-items: center;
      }
    }
  }

  .hyphen {
    margin: 0% 5%;
    height: 66%;
    width: 2px;
    background-color: black;
  }

  .team-logo {
    display: flex;
    align-items: center;
    width: 24%;

    img {
      padding-right: 40px;
      z-index: 1;
      height: clamp(2rem, 4vw, 8em);
      object-fit: contain;
      object-position: left;
    }
  }

  .position-points {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 2em;
    justify-content: space-between;
    height: 48%;
  }

  .constructor-position-points {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 2em;
    justify-content: space-between;
    height: 48%;
  }

  .fade-wrapper {
    width: 95%;

    .live-data {
      color: white;
    }

    .live-text-container {
      overflow-y: auto;
      z-index: 2;
      margin: 1em 0;
      position: sticky;
      top: 3px;
      height: 14vh;
      background-color: #fff;
      margin-bottom: 1rem;
      border-radius: 10px;
    }

  }

  .driver-image-container {
    display: flex;
    justify-content: end;
    align-items: end;

    .driver {
      z-index: 1;
      height: 155%;
      background-position: center;
      background-size: contain;
      width: 169px;
      object-fit: cover;
      object-position: top;
    }
  }

  .points-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    padding-left: 10px;

    .position {
      font-family: 'Inter';
    }

    .driver-points {
      font-family: 'Inter';
    }
  }
}

.f1-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: 'Inter', sans-serif;

  .spin-logo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    height: auto;
  }
}

.car-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  img {
    width: 50dvw;
    height: 80%;
    _padding-left: 20px;
    object-fit: contain;
    object-position: right;
  }
}


.button-active {
  transition: ease-in-out 0.2s;
  color: #fff !important;
  font-size: 21px !important;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.912);
  z-index: 9998;
}

app-driver-fullcard {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.first-name {
  font-family: 'Titillium Web';
  text-shadow:
    0px 0 0px rgba(255, 255, 255, 0.203),
    2px 0 2px rgba(62, 62, 62, 0.5),
    3px 0 8px rgba(255, 255, 255, 0.3),
    4px 0 10px rgba(255, 255, 255, 0.15);

}

.test-buttons-container {
  background-color: black;
  display: flex;
  flex-direction: column;

  #test-button {
    height: auto;
    border: black 2px solid;
    width: auto;
  }
}

.simulation-test {
  font-size: 11px;
}


.sim-view {
  height: 7vh !important;
  _animation: simView 0.8s ease-in forwards;
}

.d_none {
  font-size: 7px;
  display: none;
}

.position-points.position-points-live {
  height: auto !important;
}

.first-name-live {
  width: 150px;
}

.driver-cards.flex-direction-unset {
  flex-direction: row !important;
}

.button-deactive {
  background-color: white;
}