section {
  overflow-y: hidden;
  background-color: black;
  flex-direction: column;
  display: flex;
  font-family: 'Inter';
  font-size: 10px;

  .select-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: white;
      border: none;
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 10vh;
      font-size: 2em;
      font-weight: bold;
    }
  }

  .standing-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .driver-cards {
      padding: 10px;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0rem;
      border-radius: 10px;
      width: 85%;
      height: 22vh;

      .team-driver-name {
        align-items: center;
        display: flex;
        color: white;
        font-size: 2.4em;
      }
    }
  }

  .constructor-cards {
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    border-radius: 10px;
    width: 85%;
    height: 22vh;

    .team-constructor-name {
      align-items: center;
      display: flex;
      color: white;
      font-size: 2.4em;

      .team-logo {
        display: flex;
        align-items: center;
      }
    }
  }

  .hyphen {
    margin: 0% 5%;
    height: 100%;
    width: 2px;
    background-color: black;
  }

  .team-logo {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      height: 40px;
      object-fit: contain;
    }
  }

  .position-points {
    display: flex;
    color: white;
    flex-direction: row;
    font-size: 2em;
    justify-content: space-between;
  }

  .fade-wrapper {
    width: 95%;
  }

  .driver-image-container {
    display: flex;

    .driver {
    background-position: center;
    background-size: contain;
    width: 128px;
    height: 98px;
    object-fit: cover;
    object-position: top;
    }
  }

  .points-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}